#LaTeX
*.aux
*.bbl
*.blg
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
#Temporary PDF
rasd/RASD_main.pdf
dd/DD_main.pdf
*.synctex.gz

# ignore DS_Store and files starting with ._ (for Mac)
.DS_Store
._*

# Mac IDE files
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

# Folder to ignore
noGit/
